/* .pickup {
    max-width: 900px;
    width: 60%;
    margin: 0 auto;
    padding-top: 150px;
}

.pickup_item {
    display: flex;
    justify-content: space-between;
}

.blog_pickup_thumnail img{
    width: 280px;
    height: 150px;
    box-shadow: 3px 3px 3px 3px #eeeeee;
} */

body {
    background-color: #f1f0f0
}


.blog_main_item>a>h3 {
    font-size: 14px;
    color: black;
}

/* min-widthは〇〇以上の意味 */
@media (min-width:1400px) {
    .blog_main_item>a>h3{
        font-size: 20px;
    }
}

p {
    font-size: 8px;
    color: black;
}

/* min-widthは〇〇以上の意味 */
@media (min-width:1400px) {
    p {
        font-size: 12px;
    }
}
.blog_main_item>p>a {
    color: black;
    margin-left: 10px;

}

.container {
    justify-content: space-between;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-top: 70px;
}

/* min-widthは〇〇以上の意味 */
@media (min-width:1400px) {
    .container {
        display: flex;
        width: 60%;
    }
}


main {
    max-width: 900px;
    display: block;
    margin-top: 40px;
}


.blog_main_item {
    margin-bottom: 80px;
}


.blog_main_thumnail img {
    width: 100%;
    height: 200px;
    box-shadow: 3px 3px 3px 3px #eeeeee;
}

/* min-widthは〇〇以上の意味 */
@media (min-width:1400px) {
    .blog_main_thumnail img {
        width: 600px;
        height: 350px;
    }
}


.ranking_logo>h2 {
    font-size: 17px;
    margin-bottom: 20px;
    padding-top: 30px;
    font-family: 'American Typewriter', sans-serif;
}

.blog_ranking_item {
    margin-bottom: 50px;
}

.blog_ranking_thumnail img {
    width: 100%;
    height: 180px;
    box-shadow: 3px 3px 3px 3px #eeeeee;
}


/* min-widthは〇〇以上の意味 */
@media (min-width:1400px) {
    .blog_ranking_thumnail img  {
        width: 250px;
    }
}

.twitter {
    width: 250px;
    margin: 0 auto;
}

/* min-widthは〇〇以上の意味 */
@media (min-width:1400px) {
    .twitter {
        width: 250px;
        
    }
}



.twitter_logo h2 {
    font-size: 17px;
    margin-bottom: 30px;
    font-family: 'American Typewriter', sans-serif;
}

.ttwitter-tweet {
    margin: 0px;
    padding: 20px;
}