nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    z-index: 2;
}

.item_link {
    width: 800px;
    text-align: right;
    padding-top: 30px;
}

.item_link>a>span {
    margin-right: 50px;
    text-decoration: none;
    font-family: 'American Typewriter', sans-serif;
    color: black;
    -webkit-text-stroke: 1px white;
    font-weight: bold;

}

/*----------------------------
* メニュー開閉ボタン
*----------------------------*/
.menu-btn {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 2;
    width: 50px;
    height: 50px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background: transparent;
    color: white;
    border: none;
}

/* min-widthは〇〇以上の意味 */
@media (min-width:1000px) {
    .menu-btn  {
        width: 80px;
        height: 80px;
    }
}


.fa-bars {
    font-size: 18px;
}


/* min-widthは〇〇以上の意味 */
@media (min-width:1000px) {
    .fa-bars {
        font-size: 30px;
    }
}

/*----------------------------
  * メニュー本体
  *----------------------------*/
.menu__item {
    color: #1581f2e0;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: bold;
}

/* min-widthは〇〇以上の意味 */
@media (min-width:1000px) {
    .menu__item  {
        margin-bottom: 20px;
        font-size: 20px;
    }
}


.item_link {
    display: none;
}

/*----------------------------
  * アニメーション部分
  *----------------------------*/

/* アニメーション前のメニューの状態 */
.menu {
    transform: translateX(100vw);
    transition: all .3s linear;
    display: none;
}

/* アニメーション後のメニューの状態 */
.menu.active {
    transform: translateX(0);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    padding: 30px;
}

/* min-widthは〇〇以上の意味 */
@media (min-width:1000px) {
    .menu.active  {
        width: 300px;
        height: 100vh;
        padding: 50px;
    }
}





.glanping_icon>img {
    width: 50px;
    height: auto;
    border-radius: 100%;
    position: relative;
    bottom: 10px;
    z-index: 99;
    opacity: 0;
}

/* min-widthは〇〇以上の意味 */
@media (min-width:1000px) {
    .glanping_icon>img {
        width: 100px;
        opacity: 1;
    }
}

.header_img>img {
    max-height: 600px;
    width: 100%;
    position: relative;
    z-index: 1;
}


header {
    z-index: 99;
    left: 0;
    right: 0;
    margin: auto;
    height: 0px;
}