.top_flex {
    max-width: 900px;
    width: 60%;
    margin: 0 auto;
    overflow: scroll;
    overflow-y: hidden;
}

.top {
    height: 500px;
}

.news_logo {
    max-width: 900px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 30px;
}

.news_logo>h2 {
    color: #04afcd;
    font-family: 'Savoye LET', sans-serif;
    font-size: 60px;
    text-align: center;
    margin: 0px;
    height: 60px;
}

.news_logo>span {
    font-size: 15px;
}

.news {
    display: flex;
}

a {
    text-decoration: none;
}

.news_item {
    width: 250px;
    height: auto;
    box-shadow: 3px 3px 3px 3px #eeeeee;
    margin-right: 10px;
    border: thick double #32a1ce;
}

.meal_img {
    height: 500px;
}


.meal_img img {
    width: 100%;
    height: 500px;
}

.meal_contents {
    width: 450px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    bottom: 400px;
    padding: 70px;
    background: rgba(254, 255, 255, 0.7);
}

.meal_logo {
    text-align: center;
    padding-bottom: 40px;
}

.meal_logo>h2 {
    color: #04afcd;
    font-family: 'Savoye LET', sans-serif;
    font-size: 60px;
    margin: 0;
    height: 60px;
}

.meal_logo>span {
    font-size: 15px;
}

.meal_btn {
    text-align: center;
    width: 250px;
    margin: 0 auto;
    padding: 15px;
    background-color: rgb(4, 175, 205);
    border: double #fcfcfc;
    border-radius: 30px;
}

.meal_btn>a {
    color: rgb(254, 253, 253);
}

.stay {
    background-color: #a5d9d7;
    padding-top: 130px;
    padding-bottom: 200px;
}

.stay_logo {
    max-width: 900px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.stay_logo>h2 {
    color: #04afcd;
    font-family: 'Savoye LET', sans-serif;
    font-size: 60px;
    margin: 0px;
    height: 60px;
}

.stay_logo>span {
    font-size: 15px;
}

.stay_content {
    display: flex;
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 70px;
    opacity: 0;
}

.stay_link:nth-of-type(even) {
    position: relative;
    top: 4rem;
}

.stay_up>img {
    width: 280px;
    height: 230px;
}

.stay_caption {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1px 0 1px 0;
    width: 280px;
    position: relative;
    left: 15px;
    bottom: 20px;
    box-shadow: 2px 2px 20px 0 #949494;
}

.stay_title {
    text-align: center;
}

.stay_title>span {
    color: #04afcd;
    font-family: 'Savoye LET', sans-serif;
    font-size: 35px;
    border-bottom: dashed#04afcd;
}

.stay_text>p {
    font-size: 13px;

}

.stay_btn {
    text-align: center;
    width: 250px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 15px;
    background-color: rgb(4, 175, 205);
    border: double #fcfcfc;
    border-radius: 30px;
}

.stay_btn>a {
    color: rgb(254, 253, 253);
}